<div>
  <nz-layout>
    <nz-header>
      {{ title }}
    </nz-header>
    <nz-content>
      <div *ngIf="statusMonitor.status === 'loading'">
        <div class="loadingContainer">
          <nz-spin nzSimple></nz-spin>
        </div>
      </div>
      <div *ngIf="statusMonitor.status === 'error'">
        <nz-alert nzType="error" [nzMessage]="statusMonitor.message" nzShowIcon></nz-alert>
        <div id="tryAgainBtn">
          <button nz-button nzType="primary" (click)="reloadCovidReport()"> <i nz-icon nzType="reload"></i> Try again</button>
        </div>
      </div>
      <div *ngIf="statusMonitor.status === 'loaded'">
        <section class="header-container">
          <h2>Here's what is happening with </h2>
          <h2>the current state of COVID-19 today in Ghana</h2>
          <h3>As at <span class="asAtTile">{{ showCurrentDate }}</span> </h3>
        </section>
        <section class="actions">
          <div class="date-container">
            <p id="filter">Filter by date: </p>
            <nz-date-picker [(ngModel)]="selectedDate" (ngModelChange)="onChangeDate($event)"></nz-date-picker>
          </div>
        </section>
        <main>
          <nz-list nzGrid>
            <div *ngIf="stats" nz-row [nzGutter]="16">
              <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzLg]="{ span: 6, offset: 0 }" *ngFor="let stats of stats;">
                <nz-list-item>
                  <app-stats [statsDetails]="stats"></app-stats>
                </nz-list-item>
              </div>
            </div>
          </nz-list>
        </main>
      </div>
    </nz-content>
  </nz-layout>
</div>